<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!-- Add paths to scan, matching file names on patterns, with age >= age, and will destroy the records. -->
      <add key="paths" value="."/>
      <add key="patterns" value=".txt"/>
      <!-- AGE IS IN SECONDS!!!-->  
      <add key="age" value="60"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>